/* clear all margins */
* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Set font-family for body */
  font-family: "Montserrat", sans-serif;
}
header > h1 {
  padding: 10px;
}

main {
  max-width: 768px;
  /* flex, column and center */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  main {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }
}

#topBar {
  width: 100%;
  display: flex;
  /* space in middle */
  justify-content: space-between;
  margin-bottom: 10px;
}

#startButton {
  margin: 5px;
}

#questionSection {
  text-align: center;
  /* flex, column and center */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* add space on bottom of question */
#questionSection > h2 {
  margin-bottom: 10px;
}

/* button styling */
.styledButton {
  padding: 5px;
  margin-bottom: 5px;
  width: 200px;
  font-size: large;
  background-color: #009966;
  color: white;
  border: none;
}

/* change color and show pointer on hover */
.styledButton:hover {
  background-color: #00724c;
  cursor: pointer;
}

.inputContainer {
  /* display items in same row */
  display: inline-flex;
  margin: 10px 0;
}

.inputContainer > input {
  margin-left: 5px;
}

#submitButton {
  width: 80px;
}

#result {
  text-align: center;
  font-size: 48px;
}

footer {
  /* push footer down */
  margin-top: auto;
  background-color: #111111;
  color: white;
  height: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

footer > p {
  font-size: large;
  font-weight: bold;
}

footer > p > span {
  /* change heart color to red */
  color: red;
}

/* High scores Page */

#highScores {
  /* show numbers */
  list-style-type: decimal;
  /* push numbers to li */
  list-style-position: inside;
  padding-left: 0px;
  width: 250px;
  /* horizontal center */
  margin: auto;
}

#highScores > li {
  margin-bottom: 2px;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

#buttonContainer > button {
  margin: 5px;
}
